body {
    background-color: rgb(207, 233, 255);
}
.todoList {

    width: 70%; /* 横幅 */
    border-collapse: collapse; /* セルの枠線を隣接させる */
    background-color: rgb(234, 234, 234);
}
th, td {
    border: 1px solid rgb(0, 0, 0); /* セルに枠を追加 */
    padding: 8px; /* 内側の余白 */
    text-align: center; /* 中央揃え */
}

.title_textarea{
    font-size: 20px;
}
.about_textarea{
    font-size: 20px;
}